.delivery {
  &__title {
    margin-bottom: 4rem;
  }

  &__tabs {
    overflow: visible !important;
    position: relative;
    z-index: 2;
    width: 42.5rem;

    & .swiper-wrapper {
      width: 42.5rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 3.2rem 2.4rem;
      background-color: $accent;
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__tab {
    &.swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 7rem;
      cursor: pointer;

      border: 0.1rem solid $white;
      color: $white;
      background-color: $accent;
      transition: color 0.3s, background-color 0.3s;

      &.active, &:hover {
        background-color: $white;
        color: $accent;
      }
    }

    &-content {
      display: none;

      &-wrap {
        position: relative;
        z-index: 0;
        margin-left: -11.3rem;
        width: 135.3rem;
        height: max-content;
        padding: 5rem 5rem 5rem 19.5rem;
        background-color: $grey;
        transition: height 0.3s;
      }
    }

    &-inner {
      display: flex;
      gap: 4rem;
      width: 100%;
    }

    &-desc {
      max-width: 60.5rem;
    }

    &-title {
      margin-bottom: 3.2rem;
    }

    &-text {
      & p:not(:last-child) {
        margin-bottom: 0.9rem;
      }
    }

    &_img {
      width: 46.3rem;
    }
  }
}