.experts {
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    @media (max-width: 537px) {
      flex-direction: column;
    }
  }

  &__content {
    width: 65.1rem;

    @media (max-width: 768px) {
      width: 50%;
    }

    @media (max-width: 537px) {
      width: 100%;
    }

    & .title {
      margin-bottom: 2.4rem;

      // @media (max-width: 768px) {
      //   margin-bottom: 24rem;
      // }
    }

    & .text {
      margin-bottom: 2rem;

      @media (max-width: 768px) {
        margin-bottom: 3.6rem;
      }
    }
  }

  &__img {
    width: 88.2rem;
    flex-shrink: 5;

    & img {
      object-position: 70%;
    }

    // @media (max-width: 768px) {
    //   margin-top: -40rem;
    //   width: 100%;
    // }
  }
}