.form-calc {
  position: relative;
  background-color: $black;

  &__img {
    position: absolute;
    z-index: 1;
    left: 0;
    width: 50%;
    height: 100%;

    &::before {
      content: "";
      position: absolute;
      display: block;
      z-index: 2;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &__content {
    margin: 0 0 0 auto;
    max-width: 73rem;
    width: 51dvw;
    padding: 6rem 0 6rem 8.2rem;

    & .title {
      color: $white;
      margin-bottom: 1.6rem;
    }

    & .text {
      color: $white;
      line-height: 3.2rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
  }

  &__input {
    background-color: $white;

    &.comment {
      min-height: 9.7rem
    }
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}