.steps {
  
  &__header {
    display: flex;
    margin-bottom: 4rem;
    gap: 6.6rem;
  }

  &__title {
    width: 80rem;
  }

  &__list {
    display: flex;
    gap: 2.1rem;
    margin-bottom: 4rem;
  }

  &__item {
    width: 52.5rem;
    padding: 2rem;
    background-color: $grey;

    &_img {
      width: 100%;
      height: 23.3rem;
      margin-bottom: 0.8rem;
    }

    & .number {
      font-size: 2.4rem;
      line-height: 120%;
      margin-bottom: 4.4rem;
      opacity: 0.2;
    }

    &_list {
      margin-top: 2rem;

      & li {
        position: relative;
        padding-left: 2.8rem;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 0.6rem;
          display: block;
          width: 1.6rem;
          height: 1.6rem;
          background-color: #00AAA3;
          background-clip: padding-box;
          border-radius: 50%;
          border: 0.3rem solid rgba(0, 170, 163, 0.2);
        }

        &:not(:last-child) {
          margin-bottom: 1.6rem;
        }
      }
    }
  }

  & button {
    margin: 0 auto;
  }
}